.banner {
  grid-area: banner;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: 300px;
  background-image: url('../images/cover.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
