.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--light);
  z-index: 100;

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__phone {
    font-size: 18px;
    font-weight: 500;
    color: var(--accent);
    background-image: url('../images/svg/phone.svg');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}
