.post-content {
  grid-area: content;
  padding-bottom: 100px;

  &__container {
    max-width: 800px;
  }

  &__content {
    margin-bottom: 60px;
  }

  &__breadcrumbs {
    display: flex;
    align-items: center;
    gap: 20px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__category {
    position: relative;
    z-index: 5;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 16px;
    color: var(--accent);
    padding: 8px 16px;
    background: #5D71DD0D;
    border-radius: 8px;
  }

  &__date {
    font-size: 16px;
    opacity: 0.4;
  }

  &__title {
    font-size: 30px;
    
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__text-wrapper {
    margin-bottom: 40px;
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__image {
    border-radius: 20px;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }

  &__nav-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    height: 43px;
    color: var(--accent);
    border-radius: 8px;
    background-repeat: no-repeat;
    background-color: #5D71DD0D;
    padding: 10px 34px;

    &--prev {
      background-image: url("../images/svg/prev.svg");
      background-position: left 16px center;
      padding-right: 18px;
    }

    &--next {
      background-image: url("../images/svg/next.svg");
      background-position: right 16px center;
      padding-left: 18px;
    }
  }
}
