<section class="post-content">
  <div class="post-content__container">
    <div class="post-content__breadcrumbs">
      <a href="#category" class="post-content__category content-button">Категория 1</a>
      <time datetime="2020-12-13" class="post-content__date">13 дек 2020</time>
    </div>
    <h1 class="post-content__title">
      Управление ИТ-активами – скучная рутина или творческая задача?
    </h1>
    <div class="post-content__content">
      <div class="post-content__text-wrapper">
        <p class="post-content__text">
          Размышляя об управлении ИТ-активами, я вспомнил один учебный пример.
          Менеджер по ИТ-мощностям в крупной компании периодически готовил
          толстенный отчёт руководству. В очередной раз он не принёс отчёт,
          решив проверить, нужен ли он вообще. Выждав несколько дней, он пришёл
          к руководителю и спросил: «Похоже тот отчёт, который я готовлю, не
          особо востребован, а что вам действительно нужно?» Руководитель
          признался, что массивный отчёт хороший, но им не пользуются. И
          набросал на листе бумаги то, что хотелось бы иметь под рукой.
        </p>
        <p class="post-content__text">
          Управление ИТ-активами, как и управление конфигурациями, является
          базовым процессом для других. В первом случае более важным является
          финансовый аспект, во втором – эксплуатационные задачи. Оба процесса
          можно перегрузить деталями и превратить во что-то рутинное. Как же
          найти баланс и сделать процесс по-настоящему «живым»?
        </p>
        <p class="post-content__text">
          Конечно, баланс унификации и персонального подхода – дело каждого.
          Вспомним историю про послевоенное автомобилестроение: американская и
          японская тактика. Постепенно японцы достигли превосходства благодаря,
          в том числе, выверенному балансу унификации и культуре производства.
          Но это правило не для всех.
        </p>
        <p class="post-content__text">
          Конечно, баланс унификации и персонального подхода – дело каждого.
          Вспомним историю про послевоенное автомобилестроение: американская и
          японская тактика. Постепенно японцы достигли превосходства благодаря,
          в том числе, выверенному балансу унификации и культуре производства.
          Но это правило не для всех.
        </p>
      </div>
      <div class="post-content__image">
        <img src="@image/post-image.jpg" alt="красивая картинка поста" />
      </div>
    </div>
    <div class="post-content__nav-buttons">
      <button class="content-button post-content__button post-content__button--prev">
        Предыдущая новость
      </button>
      <button class="content-button post-content__button post-content__button--next">
        Следующая новость
      </button>
    </div>
  </div>
</section>
