<section class="content">
  <h2 class="visually-hidden">Статьи блога</h2>
  <div class="container">
    <div class="articles">
      <article class="article">
        <a href="#" class="article__category">Категория 1</a>
        <h3 class="article__title">
          Управление ИТ-активами – скучная рутина или творческая задача?
        </h3>
        <p class="article__descr">
          Размышляя об управлении ИТ-активами, я вспомнил один учебный пример.
          Менеджер по ИТ-мощностям в крупной компании периодически готовил
          толстенный отчёт руководству. В очередной раз он не принёс отчёт,
          решив проверить, нужен ли он вообще.
        </p>
        <time datetime="2020-12-13" class="article__date">13 дек 2020</time>
      </article>
      <ul class="articles-grid-list">
        <li class="articles-grid-list__item">
          <article class="article">
            <a href="#" class="article__category">Категория 1</a>
            <h3 class="article__title">
              Управление ИТ-активами – скучная рутина или творческая задача?
            </h3>
            <p class="article__descr">
              Размышляя об управлении ИТ-активами, я вспомнил один учебный пример.
              Менеджер по ИТ-мощностям в крупной компании периодически готовил
              толстенный отчёт руководству. В очередной раз он не принёс отчёт,
              решив проверить, нужен ли он вообще.
            </p>
            <time datetime="2020-12-13" class="article__date">13 дек 2020</time>
          </article>
        </li>
        <li class="articles-grid-list__item">
          <article class="article">
            <a href="#" class="article__category">Категория 1</a>
            <h3 class="article__title">
              ITAM&SAMDay – самая настоящая удача!
            </h3>
            <time datetime="2020-12-13" class="article__date">13 дек 2020</time>
          </article>
        </li>
        <li class="articles-grid-list__item">
          <article class="article" style="background: url('');">
            <a href="#" class="article__category">Категория 1</a>
            <h3 class="article__title">
              Управление ИТ-активами – скучная рутина или творческая задача?
            </h3>
            <time datetime="2020-12-13" class="article__date">13 дек 2020</time>
          </article>
        </li>
        <li class="articles-grid-list__item">
          <article class="article">
            <a href="#" class="article__category">Категория 1</a>
            <h3 class="article__title">
              Управление ИТ-активами – скучная рутина или творческая задача слово слово и еще длинное слово после чего ...
            </h3>
            <time datetime="2020-12-13" class="article__date">13 дек 2020</time>
          </article>
        </li>
        <li class="articles-grid-list__item">
          <article class="article">
            <a href="#" class="article__category">Категория 1</a>
            <h3 class="article__title">
              ITAM&SAMDay – самая настоящая удача!
            </h3>
            <time datetime="2020-12-13" class="article__date">13 дек 2020</time>
          </article>
        </li>
        <li class="articles-grid-list__item">
          <article class="article">
            <a href="#" class="article__category">Категория 1</a>
            <h3 class="article__title">
              Управление ИТ-активами – скучная рутина или творческая задача?
            </h3>
            <p class="article__descr">
              Размышляя об управлении ИТ-активами, я вспомнил один учебный пример.
              Менеджер по ИТ-мощностям в крупной компании периодически готовил
              толстенный отчёт руководству. В очередной раз он не принёс отчёт,
              решив проверить, нужен ли он вообще.
            </p>
            <time datetime="2020-12-13" class="article__date">13 дек 2020</time>
          </article>
        </li>
        <li class="articles-grid-list__item">
          <article class="article">
            <a href="#" class="article__category">Категория 1</a>
            <h3 class="article__title">
              ITAM&SAMDay – самая настоящая удача!
            </h3>
            <time datetime="2020-12-13" class="article__date">13 дек 2020</time>
          </article>
        </li>
        <li class="articles-grid-list__item">
          <article class="article" style="background: url('');">
            <a href="#" class="article__category">Категория 1</a>
            <h3 class="article__title">
              Управление ИТ-активами – скучная рутина или творческая задача?
            </h3>
            <time datetime="2020-12-13" class="article__date">13 дек 2020</time>
          </article>
        </li>
        <li class="articles-grid-list__item">
          <article class="article">
            <a href="#" class="article__category">Категория 1</a>
            <h3 class="article__title">
              Управление ИТ-активами – скучная рутина или творческая задача слово слово и еще длинное слово после чего ...
            </h3>
            <time datetime="2020-12-13" class="article__date">13 дек 2020</time>
          </article>
        </li>
        <li class="articles-grid-list__item">
          <article class="article">
            <a href="#" class="article__category">Категория 1</a>
            <h3 class="article__title">
              ITAM&SAMDay – самая настоящая удача!
            </h3>
            <time datetime="2020-12-13" class="article__date">13 дек 2020</time>
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
