<article class="contacts-form">
  <h2 class="contacts-form__title">Напишите нам</h2>
  <form class="contacts-form__form" action="#">
    <div class="contacts-form__field">
      <label class="visually-hidden" for="name">Ваше имя</label>
      <input
        class="contacts-form__input"
        type="text"
        id="name"
        placeholder="Ваше имя"
      />
    </div>
    <div class="contacts-form__field">
      <label class="visually-hidden" for="email">Ваш email</label>
      <input
        class="contacts-form__input"
        type="email"
        id="email"
        placeholder="Ваш Email"
      />
    </div>
    <div class="contacts-form__field">
      <label class="visually-hidden" for="message">Ваше сообщение</label>
      <textarea
        class="contacts-form__textarea"
        id="message"
        placeholder="Сообщение..."
      >
      </textarea>
    </div>
  </form>
</article>