<div class="menu" id="site-menu" data-menu>
  <nav class="menu__navigation" aria-label="Сайт">
    <ul class="menu__list">
      <li class="menu__item">
        <a href="index.html" class="menu__link menu__link--current" aria-current="page">
          Главная
        </a>
      </li>
      <li class="menu__item">
        <a href="contacts.html" class="menu__link">О нас</a>
      </li>
      <li class="menu__item">
        <a href="contacts.html" class="menu__link">Контакты</a>
      </li>
      <li class="menu__item">
        <a href="search.html" class="menu__link">Поиск</a>
      </li>
    </ul>
  </nav>
  <a href="tel:+798788787" class="header__phone">+7 (987) 887-87</a>
</div>
