@import 'normalize';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
}

html {
  height: 100%;
}

body {
  overflow-anchor: none;
  margin: 0;
  font-family: 'Futura PT', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: calc(23 / 18);
  background-color: var(--cover);
  color: var(--dark);
}

.main {
  flex: 1 1 auto;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'banner banner banner banner'
      'content content content sidebar';
    gap: 40px;
  }
}

.container {
  box-sizing: content-box;
  max-width: 1400px;
  padding: 0 15px;
  margin: auto;
}

.section-title {
  font-size: 24px;
  line-height: calc(30 / 24);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
