@import 'normalize';
@import 'fonts';

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
}

html {
  height: 100%;
}

body {
  overflow-anchor: none;
  margin: 0;
  font-family: "Futura PT", sans-serif;
  font-weight: 400;
  background-color: var(--cover);
}

.main {
  flex: 1 1 auto;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  box-sizing: content-box;
  max-width: 1400px;
  padding: 0 15px;
  margin: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}